@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/shrikhand.regular.ttf") format("truetype");
}
/******GENERALE*******/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

#logo {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}
#logo img {
  display: block;
  width: 200px;
  margin: auto;
}
#logo i {
  position: absolute;
  left: 5%;
  top: 28px;
}

.fa-heart {
  font-size: 30px;
}

a {
  color: black;
  text-decoration: none;
}

main {
  background-color: #f6f6f6;
}
main h2 {
  font-family: "Roboto-Black";
  font-size: 30px;
  margin-bottom: 30px;
  width: 90%;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*******SPECIFIQUE ACCUEIL*******/
.logo-shadow {
  box-shadow: 0px 3px 5px #c9c9c9;
}

#localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
#localisation i {
  margin-right: 10px;
}
#localisation p {
  font-family: "Roboto-Bold";
}

#explorer {
  height: 300px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  text-align: center;
}
#explorer h1, #explorer p {
  margin-bottom: 10px;
}
#explorer h1 {
  width: 70%;
  font-family: "Roboto-Black";
}
#explorer p {
  font-size: 22px;
}
#explorer__bouton {
  width: 200px;
  background: #FF79DA;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  color: white;
  border-radius: 50px;
  filter: drop-shadow(0 2px 4px #a0a0a0);
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  text-align: center;
}

#fonctionnement, .restaurants {
  padding-bottom: 50px;
  padding-top: 50px;
}

#fonctionnement {
  background-color: white;
}

.explication {
  width: 85%;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #E4E4E4;
  margin-bottom: 25px;
}
.explication__numero {
  position: relative;
  left: -10px;
  top: 20px;
  background-color: #9356DC;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
}
.explication__numero p {
  padding-top: 5px;
  color: white;
}
.explication__etape {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 50px;
}
.explication__etape p {
  margin-left: 30px;
  font-family: "Roboto-Bold";
}
.explication__etape .fas {
  color: #8f8f8f;
}
.explication__etape .fa-mobile-alt {
  font-size: 20px;
}
.explication__etape #icon_menu {
  display: flex;
}
.explication__etape #icon_menu .fa-ellipsis-v {
  font-size: 15px;
  margin-top: 1px;
  margin-right: 1px;
}
.explication__etape #icon_menu .fa-bars {
  font-size: 17px;
}

.restaurants a {
  width: 90%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0 2px 4px #cecece);
  display: block;
}
.restaurants article {
  font-size: 20px;
}
.restaurants article img {
  object-fit: cover;
  width: 100%;
  height: 240px;
  border-radius: 20px 20px 0 0;
}
.restaurants__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.restaurants__description h3 {
  font-family: "Roboto-Bold";
}
.restaurants__nouveau {
  background-color: #99E2D0;
  color: #008766;
  font-family: "Roboto-Bold";
  position: absolute;
  right: 15px;
  top: 20px;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}

footer {
  background-color: #373737;
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
}
footer div {
  display: flex;
  align-items: center;
}
footer div i {
  margin-right: 12px;
}
footer div, footer p {
  margin-bottom: 5px;
}

.logo-font {
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 20px;
}

.fa-utensils {
  font-size: 16px;
}

.fa-hands-helping {
  font-size: 13px;
}

/*****SPECIFIQUE PAGE MENU******/
.header__image {
  height: 350px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.header__image__palette {
  background-image: url("../images/restaurants/palette_du_gout.jpg");
}

#nom_restaurant {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  padding-left: 20px;
  padding-right: 20px;
}
#nom_restaurant h1 {
  font-family: "Shrikhand";
}

#menu {
  padding-top: 30px;
  padding-bottom: 90px;
}
#menu section {
  margin-bottom: 30px;
}
#menu h2 {
  font-family: "Roboto-Thin";
  font-size: 22px;
  margin-bottom: 20px;
}
#menu h2::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  height: 5px;
  width: 50px;
  margin-top: 6px;
}

.plat {
  width: 90%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0 2px 4px #cecece);
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
  background-color: white;
  display: flex;
  overflow: hidden;
}
.plat:hover i {
  transform: rotate(360deg);
}
.plat:hover .check {
  right: 0;
}
.plat:hover .nom_description_et_prix {
  width: calc(100% - 112px);
}

.nom_description_et_prix {
  margin: 15px;
  transition: width 1s;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nom_et_description {
  transition: margin-right 1s;
  width: 100%;
  overflow: hidden;
}

.nom h3 {
  white-space: nowrap;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Roboto-Bold";
}

.description {
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.prix {
  transition: transform 1s;
  margin-left: 10px;
  font-family: "Roboto-Bold";
}

.check {
  transition: right 1s;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  width: 80px;
  height: 100%;
  position: absolute;
  right: -82px;
  display: flex;
}
.check i {
  transition: transform 1s;
  color: white;
  font-size: 30px;
  text-align: center;
  margin: auto;
}

#command_button {
  width: 200px;
  background: #FF79DA;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  color: white;
  border-radius: 50px;
  filter: drop-shadow(0 2px 4px #a0a0a0);
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
