@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/shrikhand.regular.ttf') format('truetype');
}

*{
    margin:0;
    padding:0;
    font-family: 'Roboto';
}

#logo{
    position:relative;
    padding-top:20px;
    padding-bottom: 10px;
    box-shadow: 0px 3px 5px rgb(201, 201, 201);
    & img{
        display:block;
        width:200px;
        margin: auto;
    }
}

#localisation{
    background-color: rgb(230, 230, 230);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    & i{
        margin-right: 10px;
    }
    & p{   
        font-family: 'Roboto-Bold';
    }
}

#explorer{
    height:300px;
    background-color: rgb(240, 240, 240);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    & h1, p{
        margin-bottom: 10px;
    }
    & h1{
        width:70%;
        font-family: 'Roboto-Black';
    }
    &__bouton{
        width: 200px;
        background: rgb(255,121,218);
        background: linear-gradient(to bottom, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        color:white;
        border-radius: 20px;
        filter: drop-shadow(0 2px 4px rgb(160, 160, 160));
        margin-top:20px;
        padding-bottom:15px;
        padding-top:15px;
    }
}

main{
    & h2{
        font-family: 'Roboto-Black';
        margin:auto;
        margin-bottom: 30px;
        margin-top:50px;
        width:90%;
    }
    & section{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

#fonctionnement{
    margin-bottom:50px;
}

.explication{
    width:85%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #E4E4E4;
    margin-bottom:25px;
    &__numero{
        position:relative;
        left:-10px;
        top:20px;
        background-color: #9356DC ;
        width:30px;
        height: 30px;
        border-radius: 100%;
        text-align: center;
        & p{
            padding-top:5px;
            color:white;
        }
    }
    &__etape{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        margin-left:50px;
        & p{
            margin-left:30px;
            font-family: 'Roboto-Bold';
        }
        & .fas{ 
            color:rgb(143, 143, 143);
        }
        & .fa-mobile-alt{
            font-size: 20px;
        }
        & #icon_menu{
            display: flex;
            & .fa-ellipsis-v{
                font-size:15px;
                margin-top:1px;
                margin-right:1px;
            }
            & .fa-bars{
                font-size:17px;
            }
        }
    }
}

.restaurants{
    background-color: rgb(240, 240, 240);
    & article{
        background-color: white;
        width:90%;
        border-radius: 20px;
        margin-bottom: 20px;
        & img{
            object-fit: cover;
            width:100%;
            height:300px;
            border-radius: 20px 20px 0 0;
        }
    }
    &__description{
        display: flex;
        justify-content: space-between;
        padding:20px;
        &__icon{
            font-size: 30px;
        }
    }
}

footer{
    background-color: rgb(55, 55, 55);
    color:white;
    padding-top:30px;
    padding-bottom:50px;
    padding-left: 30px;
    font-weight:bold;
}

.logo-font{
    font-family: 'Shrikhand';
    font-weight: normal;
    font-size:25px;
    margin-bottom: 20px;
}
